body {
    margin: auto;
    width: 700px;
    gap: 20px;
    padding: 20px;
    height: 20%;
}
.tarolo{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    align-items: center;
    min-height: 600px;

}
.gomb0{
    align-items: center;
    justify-self: center;
    text-align: center;
    font-size: larger;
    width: 30px;
    height: 30px;
    background-color: aqua;
    border-radius: 50%;
    border-style:groove;
}
.gomb1{
    align-items: center;
    justify-self: center;
    text-align: center;
    font-size: larger;
    width: 30px;
    height: 30px;
    background-color: aqua;
    border-radius: 50%;
    border-style:groove;
}
.gomb0:hover{
    background-color: blueviolet;
}
.gomb1:hover{
    background-color: blueviolet;
}
.kepek-tarolo {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding-right: 10px;
        height: 480px;
}
.kep-kartya {
    border-radius: 8px;
    
}
.kep-kartya img {
    width: 350px;
    height: 200px;
}
.nagy-kep {
    background: white;
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto;
}
.nagy-kep-tartalom {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.nagy-kep-tartalom img {
    width: 100%;
    max-height: 60%;
    object-fit: contain;

}


